body{
    color: #fff;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgb(52, 53, 53);
    top:0;
    left: 0;
    font-family: 'Nanum Myeongjo', serif;
}
hr{
    border-color: rgb(130,130,132);
}
button{
    font-size: 15px;
}
@keyframes ColorChange{
    50%{color:red;}
    100%{color:blue;}
}
#Logo{
    animation-name: ColorChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#menu{  /*id menu는 상단의 메뉴바입니다. */
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 20px;
}
#menu li{
    display:inline-block;
    font-size: 20px;

}
#menu li a{
    font-size: 30px;
    margin: 10px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    padding: 8px;
}
#menu li a:hover{
    background-color: rgb(255,196,0);
    color:black;
}
.menu {     /*class menu는 사이드 메뉴바*/
    display: block;
    overflow: hidden;
    width: 200px;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    border: 0.5px solid white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover{
    background-color:rgb(255,196,0);
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

.menu ::before {    
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}

.menu li:nth-child(1) a::before{ content: '\e88a'; }    /*웹 아이콘 사용*/
.menu li:nth-child(2) a::before{ content: '\e80b'; }
.menu li:nth-child(3) a::before{ content: '\f041'; }
.menu li:nth-child(4) a::before{ content: '\eb81'; }
.menu li:nth-child(5) a::before{ content: '\e639'; }
.menu li:nth-child(6) a::before{ content: '\e405'; }


.board{
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.board div{
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.board div div{
    font-size:20px;
    display: inline-block;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.table table { /* 이중 테두리 제거 */
    width: 600px;
	border-collapse: collapse;
    margin: auto;
}
.table table thead{
    color:rgb(255,196,0);
    background-color: rgb(52, 53, 53);
    border-bottom: 2px solid white;
    font-size: 18px;
}
.table table tbody tr:nth-child(odd){
    background-color: rgb(52, 53, 53);
    color:rgb(255,196,0);
}
.table table tbody tr:hover{   /*마우스 올라가있는 동안 스타일 변경*/
    background-color: rgb(255,196,0);
    color:black;
}

table td{
    font-size: 15px;
}
td, th { /* 모든 셀에 적용 */
	padding: 5px;
	height: 15px; width: 100px;
}

thead { /* <thead>의 모든 셀에 적용 */
	background : white;
	color : black;
    font: bold;
}

#showbutton{    /*더보기 버튼*/
    width: 100px;
    border: 1px solid white;
    background: rgba(0,0,0,0);
    color:#fff;
    padding: 5px;
    border-radius: 5px;
}
#showbutton:hover{
    background: rgb(255,196,0);
    color: black;
}
#hidebutton{    /*접기 버튼*/
    width: 100px;
    border: 1px solid white;
    background: rgba(0,0,0,0);
    color:#fff;
    padding: 5px;
    border-radius: 5px;
}
#hidebutton:hover{
    background: rgb(255,196,0);
    color: black;
}
.step2{
    visibility: collapse;
}
.step3{
    visibility: collapse;
}
#country{   
    width: 100%;
    text-align: center;
}
#country div{
    display: inline-block;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
}
#hidebutton{
    display: none;
}
.linkButton{
    width: 100px;
    border: 1px solid white;
    background: rgba(0,0,0,0);
    color:#fff;
    padding: 5px;
    border-radius: 5px;
}
.linkButton:hover{
    background: rgb(255,196,0);
    color: black;
}
.photo{
    width: 158px;
    height: 105px;
}
#newstable thead{
    color:rgb(130,130,132);
}
#newstable tbody tr{
    color:white;
}
#newstable tbody tr:hover{
    color:white;
    background-color:rgb(130,130,132) ;
    text-decoration: underline;
}
#newstable tbody tr a{
    color:rgb(255,196,0);
}
#newstable tbody tr a:visited{
    color:rgb(255,196,0);
}
#newstable th,td{
    text-align: center;
}

#hallyubutton{
    text-align: center;
    margin-top: 100px;
}
#hallyubutton button{
    width: 100px;
    border: 1px solid white;
    background: rgba(0,0,0,0);
    color:#fff;
    padding: 5px;
    border-radius: 5px;
}
#hallyubutton button:hover{
    background: rgb(255,196,0);
    color: black;
}
#newstable p{
    font-size:13px; padding:5px;
}
.foot li a{
    text-decoration: none;
    color: rgb(0,123,255);
}
.foot li a:hover{
    text-decoration:underline;
    color: rgb(0,73,150);
}
.foot li a:visited{
    text-decoration:none;
}
#goData a{
    text-decoration: none;
    color:rgb(130,130,132);
}
#goData a:hover{
    text-decoration: underline;
}
#goData a:visited{
    text-decoration: none;
    color:rgb(130,130,132);
}